
= render 'layouts/header' 

= render 'layouts/breadcrumbs'



.main
  = render partial: 'users/section/mypage-left'
  .main__right
    = render partial: 'users/section/log-out'

= render partial: '/layouts/exhibit-button'
= render 'layouts/footer'