
= render 'layouts/header' 

.main
  = render partial: 'users/mypage-left'
  .main__right
    = render partial: 'users/mail-pass-edit'

= render partial: '/layouts/exhibit-button'
= render 'layouts/footer'