= render 'layouts/header' 

.main
  = render partial: 'users/mypage-left'
  .main__right
    .main__right-mypage
      =link_to "#", class: "mypage-icon" do
        = image_tag("/assets/IMG_footer-top-image.png", class: "mypage-img")
        %p.mypage-name
          おさる
        .mypage-evaluation-exhibit
          %p.mypage-evaluation
            評価
          %p.mypage-evaluation-count
            0
          %p.mypage-exhibit
            出品数
          %p.mypage-exhibit-count
            0
    .main__right-news-todo
      .link-tab
        =link_to "javascript:void(0)", class: "news-todo-tab btn active-1" do
          .border-red-1.line-up-1
          %p.news-title
            お知らせ
      .link-tab
        =link_to "javascript:void(0)", class: "news-todo-tab btn" do
          .border-red-1.line-down-1
          %p.news-title
            やることリスト
    .main__right-news-list.content-1.show-1
      .main__right-news-todo-list-each
        =link_to "#", class: "news-todo-list-tag btn" do
          = image_tag("/assets/IMG_footer-top-image.png", class: "news-todo-list-image")
          %p.news-todo-list-message
            《購入ごとに最大3%ポイント還元！》メルペイスマート払いが一番お得！詳しくはこちら
          = fa_icon 'angle-right', class: 'news-todo-select-icon'
      .main__right-news-todo-list-each
        =link_to "#", class: "news-todo-list-tag btn" do
          = image_tag("/assets/IMG_footer-top-image.png", class: "news-todo-list-image")
          %p.news-todo-list-message
            Kooommmさんが「php」にコメントしました
          = fa_icon 'angle-right', class: 'news-todo-select-icon'
      .main__right-news-todo-list-each
        =link_to "#", class: "news-todo-list-tag btn" do
          = image_tag("/assets/IMG_footer-top-image.png", class: "news-todo-list-image")
          %p.news-todo-list-message
            Kooommmさんが「php」にいいね！しました
          = fa_icon 'angle-right', class: 'news-todo-select-icon'
      .main__right-news-todo-list-each
        =link_to "#", class: "news-todo-list-tag btn" do
          = image_tag("/assets/IMG_footer-top-image.png", class: "news-todo-list-image")
          %p.news-todo-list-message
            事務局から個別メッセージ「ログイン通知」
          = fa_icon 'angle-right', class: 'news-todo-select-icon'
      .main__right-news-todo-list-each
        =link_to "#", class: "news-todo-list-tag btn" do
          = image_tag("/assets/IMG_footer-top-image.png", class: "news-todo-list-image")
          %p.news-todo-list-message
            事務局から個別メッセージ「ログイン通知」
          = fa_icon 'angle-right', class: 'news-todo-select-icon'
      .main__right-news-todo-list-show
        =link_to "一覧を見る", "#", class: "main__right-news-todo-list-show-btn btn"
    .main__right-todo-list.content-1.hide-1
      .main__right-todo-list-each
    .buy-product
      %p.buy-product-title
        購入した商品
    .transaction
      =link_to "javascript:void(0)", class: "transaction-now transaction-tab btn active-2" do
        .border-red-2.line-up-2
        %p.transaction-now-title
          取引中
      =link_to "javascript:void(0)", class: "transaction-past transaction-tab btn" do
        .border-red-2.line-down-2
        %p.transaction-past-title
          過去の取引
    .buy-products-now-list.content-2.show-2
    .buy-products-past-list.content-2.hide-2

= render 'layouts/footer' 