.itembuy-container
  %section.itembuy-content
    %h1.itembuy-content__name
      =@product.name
    .itembuy-content__clearfix
      .itembuy-content__photo
        .itembuy-content__auter
          .itembuy-content__owl-carousel
            - if @product.status_id == 3
              .sold-out
              %p.sold-out-name SOLD
            .owl-carousel-space
              =image_tag("#{@image.image}", class: 'owl-carousel-main show', size: '300x300')
            - @images[1..9].each do |image|
              =image_tag("#{image.image}", class: 'owl-carousel-main', size: '300x300')
        .itembuy-content__owl-carousel-thumb
          =image_tag("#{@image.image}", class: 'owl-carousel-sub active', size: '60x60')
        - @images[1..9].each do |image|
          =image_tag("#{image.image}", class: 'owl-carousel-sub', size: '60x60')
      %table.itembuy-content__table
        %tbody
          %tr
            %th 出品者
            %td
              = link_to "/", class: "user-nickname" do
                = @product.user.nickname
              %div
                .itembuy-content__ratings{ id: 'itembuy-icon-good' }
                  =fa_icon 'smile-o', class: 'icon-r'
                  %span 437
                .itembuy-content__ratings
                  =fa_icon 'meh-o', class: 'icon-y'
                  %span 4
                .itembuy-content__ratings
                  =fa_icon 'frown-o', class: 'icon-b'
                  %span 0
          %tr
            %th カテゴリー
            %td
              = link_to "#{@parent.name}", "#", class: "parent-category"
              %br
              = link_to "＞#{@child.name}", "#", class: "child-category"
              %br
              = link_to "＞#{@grandchild.name}", "#", class: "grandchild-category"
          %tr
            %th  ブランド
            %td
              = link_to "#{@product.brand}", "#", class: "brand-link"
          %tr
            %th 商品のサイズ
            %td
              %span 
                - if @size.present?
                  = @size.size_name
          %tr
            %th 商品の状態
            %td
              %span 
              = @product.sales_status_i18n
          %tr
            %th 配送料の負担
            %td
              %span
                = @product.delivery_charged_i18n
          %tr
            %th 配送の方法
            %td
              %span
                = @product.delivery_way_i18n
          %tr
            %th 配送元地域
            %td
              %span
              = link_to "#{@product.prefecture.name}", "#", class: "area-link"
          %tr
            %th 発送日の目安
            %td
              %span
                = @product.delivery_days_i18n
    .itembuy-content__price
      %span.itembuy-content__bold<
        = "¥#{@product.price.to_s(:delimited)}"
      %span.itembuy-content__tax (税込)
      %span.itembuy-content__fee 送料込み
    .itembuy-detail
      %p.itembuy-detail__inner
        = @product.description
  .itembuy-content__change-status
    .itembuy-content__change-status-btns
      = link_to '商品の編集', myedit_users_path, class: 'itembuy-red-box' 
    .itembuy-content__text-center
      or
    .itembuy-content__change-status-btns
      = link_to '', class: 'itembuy-gray-box1' do
        出品を一旦停止する
    .itembuy-content__change-status-btns
      .itembuy-gray-box2
        この商品を削除する
    #buy-overlay
      #buy-modalWindow
        .buy-modal-message-box
          %div#buy-modal-message-head 確認
          %br 削除すると二度と復活できません。
          %p 削除する代わりに停止することもできます。
          %br 本当に削除しますか？
        %button#buy-modal-close-btn キャンセル
        = button_to "削除する", "#{@product.id}", method: :delete , id: "purchase-comformation-btn" 
    .itembuy-content__comment
      %form.itembuy-message__form
        %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea
        %button
          %span  
            コメントする

= javascript_include_tag 'mypage-change.js'
