.buy-product-mypage
  %p.buy-product-title-mypage
    出品した商品
.transaction-mypage
  =link_to myproducts_exhibiting_user_path, class: "transaction-now-mypage2 transaction-tab-mypage btn active-2-mypage" do
    %p.transaction-now-title-mypage
      出品中
  =link_to myproducts_trading_user_path, class: "transaction-past-mypage2 transaction-tab-mypage btn" do
    %p.transaction-past-title-mypage
      取引中
  =link_to "javascript:void(0)", class: "transaction-past-mypage transaction-tab-mypage btn" do
    .border-red-2-mypage.line-up-2-mypage
    %p.transaction-past-title-mypage
      売却済み
.buy-products-now-list-mypage3.content-2.show-2-mypage
  .myproducts-list-block
    %ul.myproducts-list-block-ul
      - @product.each do |product|
        %li.myproducts-list-block-ul__box
          = link_to product_path, class: "myproducts-list-block-ul__box--link" do
            %figure.myproducts-list-block-ul__box--link__figure
              = image_tag("#{product.images[0].image}", class:"myproducts-list-block-ul__box--link__figure__image")
            .myproducts-list-block-ul__box--link__title
              .myproducts-list-block-ul__box--link__title--name
                #{product.name}
              .myproducts-list-block-ul__box--link__title--sold
                売却済
            = fa_icon 'angle-right', class: 'myproducts-select-icon'
      - if @product.empty?
        .myproducts-list-block-ul__nil-case

  %ul.mypage-products-arrow
    %li.mypage-products-arrow__left
      = link_to image_tag("/left.png", class:"mypage-products-arrow__left--icon")
    %li.mypage-products-arrow__right
      = link_to image_tag("/right.png", class:"mypage-products-arrow__right--icon")