.profile
  = form_with model: @user, local: true do |f|
    .profile-space
      %h1 プロフィール
    .profile-image
      = fa_icon 'smile-o', class: 'profile-icon'
      .name-place-holder
        = f.text_field :nickname, class: 'name-place-holder-field', value: "#{@user.nickname}", placeholder: '例）AYA☆セール中'
    .text-place-holder
      = f.text_field :self_introduction, class: 'text-place-holder-field', value: "#{@user.self_introduction}", placeholder: '例）こんにちは☆ご覧いただきありがとうございます！'
      %button{type: "submit", class: 'profile-btn'} 変更する