.signup-view-1page
  %section.signup-view-block
    %h2.signup-view-block__explanation 
      本人情報の登録
= form_with model: @user, local: true do |f|
  .user-confirmation
    .user-confirmation__main
      %p.user-confirmation-description
        お客さまの本人情報をご登録ください。
        %br
        登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
      =link_to "javascript:void(0)", class: "user-confirmation-upload" do
        本人確認書類のアップロードについて
        =fa_icon 'angle-right', class: 'user-angle-right'
      %h2.user-confirmation-name お名前
      %p.user-confirmation-name-each #{@user.last_name} #{@user.first_name} 
      %h3.user-confirmation-namekana 
      %p.user-confirmation-namekana-each #{@user.last_name_kana} #{@user.first_name_kana}
      %h4.user-confirmation-born 生年月日
      %p.user-confirmation-born-each #{@user.birthday}
      .user-confirmation-form-confirmation
        %label.user-confirmation-form1__label
          郵便番号
        %span.user-confirmation-form1__span
          必須
        = f.text_field :zip, value: "#{@user.zip}", placeholder: '例） 123-4567', class: 'user-confirmation-form1__form'
      .user-confirmation-form1
        %label.user-confirmation-form1__label
          都道府県
        %span.user-confirmation-form1__span
          必須
        .prefecture-select-wrap
          = f.collection_select :prefecture, Prefecture.all, :id, :name, { prompt:"---" }
          = fa_icon 'chevron-down', class:'prefecture.fas.confirmation-position'
      .user-confirmation-form2
        %label.user-confirmation-form1__label
          市区町村
        %span.user-confirmation-form1__span
          必須
        = f.text_field :city_name, value: "#{@user.city_name}", placeholder: '例）横浜市緑区', class: 'user-confirmation-form1__form'
      .user-confirmation-form1
        %label.user-confirmation-form1__label
          番地
        %span.user-confirmation-form1__span
          必須
        = f.text_field :block_name, value: "#{@user.block_name}", placeholder: '例）青山1-1-1', class: 'user-confirmation-form1__form'
      .user-confirmation-form1
        %label.user-confirmation-form1__label
          建物名
        %span.user-confirmation-form1__span
          任意
        = f.text_field :bill_name, value: "#{@user.bill_name}", placeholder: '例）柳ビル103', class: 'user-confirmation-form1__form'
      %button{type: "submit", class: 'user-confirmation-btn'} 変更する
      .user-confirmation-signup-text-right
        %p.signup-text-content
          = link_to( "本人情報の登録について〉", "/", class: "signup-text-link")
