.itembuy-user-title
  %section.itembuy-user-profile__box
  %h2.itembuy-user-profile__head
    = link_to '/' do
      user.nicknameさんのその他の出品

    .itembuy-user-parents
      %ul.itembuy-user-profile
        - @products.each do |product|
          %li.itembuy-user-profile__box
            =image_tag("/mercari-logo.png", size: '220x220')
            .itembuy-user-profile__body
              %h3.itembuy-user-profile__name
                = product.name
              .itembuy-user-profile__num
                .itembuy-user-profile__price
                  = product.price
.itembuy-user-title
  %section.itembuy-user-profile__box
  %h2.itembuy-user-profile__head
    = link_to '/' do
      product.name その他の商品

    .itembuy-user-parents
      %ul.itembuy-user-profile
        - @products.each do |product|
          %li.itembuy-user-profile__box
            =image_tag("/mercari-logo.png", size: '220x220')
            .itembuy-user-profile__body
              %h3.itembuy-user-profile__name
                = product.name
              .itembuy-user-profile__num
                .itembuy-user-profile__price
                  = product.price


