= render 'layouts/header'
.main-top
  .slide-zone
    %section.slide-banner.owl-carousel
      = link_to "", root_path, class: "slide-banner__link slide-banner__link--natsukashi"
      = link_to "", root_path, class: "slide-banner__link slide-banner__link--new-life"
      = link_to "", root_path, class: "slide-banner__link slide-banner__link--bokurano-heisei"

  .popularity-category
    %h2 人気のカテゴリー
    .popularity-category__categories
      %ul.category-lists
        %li.category-list
          =link_to '/#ladies', class: "link-category", id: "ladies" do
            レディース
        %li.category-list
          =link_to '/', class: "link-category" do
            メンズ
        %li.category-list
          =link_to '/', class: "link-category" do
            家電・スマホ・カメラ
        %li.category-list
          =link_to '/', class: "link-category" do
            おもちゃ・ホビー・グッズ
  

    = render 'products/category-products'

  .popularity-bland
    %h2 人気のブランド
    .popularity-bland__categories
      %ul.bland-lists
        %li.bland-list
          =link_to '/', class: "link-bland" do
            シャネル
        %li.bland-list
          =link_to '/', class: "link-bland" do
            ルイヴィトン
        %li.bland-list
          =link_to '/', class: "link-bland" do
            シュプリーム
        %li.bland-list
          =link_to '/', class: "link-bland" do
            ナイキ 
    
    = render 'products/category-products'


  = render 'layouts/footer'

= javascript_include_tag 'owl-carousel.js'