= render "layouts/exhibit-header"

.exhibitmiddle
  = form_with model: @product, local: true do |f|
    .exhibitmain
      .exhibitmain__head
        商品の情報を入力
      .exhibitmain__upbox
        = f.fields_for :images do |i|
          .exhibitmain__upbox__head
            出品画像
            %span 必須
            = i.file_field :image
          .exhibitmain__upbox__content
            最大１枚までアップロードできます
          .exhibitmain__upbox__imagebox1
            -# ,multiple:true, name: 'images[image][]'
            ドラッグアンドドロップ
            %br
            またはクリックしてファイルをアップロード
      .exhibitmain__description
        .exhibitmain__description__name
          商品名
          %span 必須
          = f.text_field :name,size: "67px", placeholder: "商品名 (必須40文字まで)" 
        .exhibitmain__description__explanation
          商品の説明
          %span 必須
        .exhibitmain__description__explanation-box 
          = f.text_area :description, size: "75x8",placeholder: "商品の説明（必須1,000文字以内 (色、素材、重さ、定価、注意点など)例)2010年頃に１万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
      .exhibitmain__details
        .exhibitmain__details__name
          商品の詳細
        .exhibitmain__details__category-name
          カテゴリー
          %span 必須
        .exhibitmain__details__category-box1  
          = f.select :parent_id, [["---", 0],["レディース", 1],["", 2]] 
        .exhibitmain__details__category-box2
          = f.select :child_id, [["---", 0],["トップス", 1],["", 2]] 
        .exhibitmain__details__category-box3
          = f.select :category_id, [["---", 0],["Tシャツ", 1],["カットソー", 2]] 
        .exhibitmain__details__size-name
          サイズ
          %span 必須
        .exhibitmain__details__size-box 
          = f.select :size_id, [["---", 0],["LL", 1],["L", 2]] 
        .exhibitmain__details__brand-name
          ブランド
          %span.span1 任意
        .exhibitmain__details__brand-box 
          = f.select :brand_id, [["---", 0],["エルメス", 1],["プラダ", 2]] 
        .exhibitmain__details__status-name
          商品の状態
          %span 必須 
        .exhibitmain__details__status-box 
          = f.select  :sales_status, [["---", 0],["新品、未使用", 1],["未使用に近い", 2],["目立った傷や汚れなし",3],["やや傷や汚れなし", 4],["傷や汚れなし", 5],["全体的に状態が悪い",6] ]
      .exhibitmain__delivery
        .exhibitmain__delivery__name
          配送について
        .exhibitmain__delivery__burden
          配送料の負担
          %span 必須 
        .exhibitmain__delivery__burden__box
          = f.select :delivery_charged, [["---", 0],[ "送料込み（出品者負担）", 1 ],["着払い（購入者負担）", 2] ], {}, class: 'exhibitmain__delivery__burden__box1'
        .exhibitmain__delivery__way
          配送方法
          %span 必須 
        .exhibitmain__delivery__way-box
          = f.select :delivery_way,[["---", 0],["クロネコヤマト", 1],["ゆうパック", 2],["ゆうメール", 3]] 
        .exhibitmain__delivery__way2
          配送方法
          %span 必須 
        .exhibitmain__delivery__way-box2
          = f.select :delivery_way,[["---", 0],[" クロネコヤマト",1], ["ゆうパック",2],["らくらくメルカリ便", 10],["レターパック", 11], ["普通郵便（定型、定型外) ",12], ["クリックポスト",13]] 
        .exhibitmain__delivery__area
          配送元の地域
          %span 必須 
        .exhibitmain__delivery__area-box
          = f.collection_select :area, Prefecture.all, :id, :name
        .exhibitmain__delivery__days  
          配送までの日数
          %span 必須
        .exhibitmain__delivery__days-box
          = f.select :delivery_days,[["---", 0],["1日~2日で発送", 1],["2日~3日で発送", 2],["4日~7日で発送"]] 
      .exhibitmain__price
        .exhibitmain__price__name
          販売価格(300~9,999,999)
        .exhibitmain__price__group
          .exhibitmain__price__group__left
            価格
            %span 必須
          .exhibitmain__price__group__right
            ¥
            = f.text_field :price, id: "pricebox", placeholder: "例） 300"     
        .exhibitmain__price__fee
          .exhibitmain__price__fee__left
            販売手数料（10％）
          .exhibitmain__price__fee__left__box
            #priceboxa
          .exhibitmain__price__fee__right
        .exhibitmain__price__profit
          .exhibitmain__price__profit__left
            販売利益
          .exhibitmain__price__profit__right
            #priceboxb
      .exhibitmain__exhibit
        .exhibitmain__exhibit__text
          = link_to("禁止されている出品", "＃")
          、
          = link_to("行為", "＃")
          を必ずご確認ください。
          %br
          またブランド品でシリアルナンバー等がある場合はご記載ください。
          = link_to("偽ブランドの販売", "＃")
          は犯罪であり処罰される可能性があります。
          %br
          また、出品をもちまして
          = link_to("加盟店規約", "＃")
          に同意したことになります。
        .exhibitmain__exhibit__btn
          = f.submit :出品する,id: "btn"
        .exhibitmain__exhibit__return
          = link_to :back do
            %button 戻る
= render "layouts/exhibit-footer"

= javascript_include_tag 'exhibit.js'

